
.section-product{
    background: white;
    width: 20vw;
    height: 25vh;
    //margin-left: 8vw;
    //margin-top: 22vh;
}
.position{
    margin: 1vw;
    display: block;
}
.header{
    height: 0.5vh;
}
.yellow{
    background: #FFB900;
    width: 20vw;
}
.pink{
    background:  #E211F4;
    width: 20vw;
}
.green
{
    background-color: #0ABABC;
    width: 20vw;
}
.orange
{
    background-color:  #FF7700;
    width: 20vw;
}
    
.title{
    height: 6vh;
}
.h1-title{
    color: #4457F3;
    font-size: 2vh;
    //font-family:Roboto;
}
.h3-sub-title{
    font-size: 1.5vh;
    color: #838EAB;
    margin-top: -0.5vh;
}
.body{
    height: 13vh;
    background:  #F6F9FC;
    margin-top: -2vh;
}
.h1-body{
    color: #838EAB;
    font-size: 1.5vh;
}
.p-body{
    margin-top: 4vh;
    color: #838EAB;
}
.footer{
    height: 3.5vh;
    margin-top: 1vh;
}

