#main-div{
    background-color: red;  
    }
    .position{
        margin: 1vw;
        display: block;
    }
    .section-submit-ticket{
        background: #4457F3;
        width: 13vw;
        height: 15vh;
        //margin-left: 8vw;
        margin-top: 4vh;
    }
    .submit-title{
        color: white;
        font-size: 2vh;
        /* margin: auto; */
        text-align: center;
        margin-top: 11vh;
    }
    .section-title{
        background-color: white;
        //margin-left: 23vw;
        //width: 49vw;
        height: 15vh;
        margin-top: 4vh;
    }
    .title-title{

    }
    .title-sub-title{

    }
    .section-product{
        background: white;
        width: 20vw;
        height: 25vh;
        //margin-left: 8vw;
        //margin-top: 22vh;
    }
    .bottom{
        background: white;
        width: 20vw;
        height: 7vh;
    }
    .solocate{
        margin-left: 8vw;
        margin-top: 1vh;
    }
    .vendoo{
        margin-left: 30vw;
        margin-top: -7vh;
    }
    .dms{
        margin-left: 52vw;
        margin-top: -7vh;
    }
    .de-shipper{
        margin-left: 74vw;
        margin-top: -7vh;
    }
    .timeLine{
        background: #1C2237;
        height: 29vh;
        width: 48vw;
        margin-left: 46vw;
        margin-top: 4vh;
    }
    select{
    color: black;
    margin-left: 5vw;
}




