*{
    font-family: 'Open Sans' !important;
}
[data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:#FFB900;
    vertical-align:middle;
    margin-right:1em;
    color:white;
}
.row{
    margin-top: 3vh;
    border-bottom: solid gray 1px;
}
