<section class="col-md-offset-1">
    <section class="section-submit-ticket col-md-1  position">
        <div name="comment-alt-plus" data-layerid="234" id="layer-234" class="layer-3J6uK" style="position: absolute; top: 137px; left: 232px; width: 68px; height: 68px; z-index: 234;"></div>
        <h1 class="submit-title">{{'PRODUCTS.BUTTON_SUBMIT'|translate}}</h1>
    </section>
    <section class="section-title col-md-6  position">
        <h1 class="title-title">Hello, Ups Delivery</h1>
        <h3 class="title-sub-title">Your personal representative: Kaly Schwartz +972.88.1065874</h3>
    </section>
</section>

<section class="col-md-12 col-md-offset-1" >
    <app-product   *ngFor="let product of products"  [product]="product"></app-product>
</section>

<!-- <section class="bottom solocate"></section>
<section class="bottom vendoo "></section>
<section class="bottom dms"></section>
<section class="bottom de-shipper"></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section class="timeLine">
    <h1>{{'PRODUCTS.TIME-LINE'|translate}}</h1>
</section> -->