.tmp-ticket-content{
    margin-top: 15vh;
}
.tmp-ticket-subject{
margin-left: 5vh;
}
.tmp-ticket-date{
    text-align: end;
    margin: 2vh;
}
.title{
    margin: 0 auto;
    background-color: white;
    width: 70%;
}

.content{
    margin: 0 auto;
    background-color: #F6F9FC;
    width: 70%;
    // height: 25vh;
}
.tmp-ticket-thread-content{
     margin-left: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}