<div class="tmp-ticket-content">
  <div class="row title">
    <div class="col-md-6">
      <h3 class="tmp-ticket-subject">{{ticket.subject}}</h3>
    </div>

    <div class="col-md-6">
      <h5 class="tmp-ticket-date">{{ticket.date| date:'medium' }}</h5>
    </div>
  </div>

  <div class="row content">
    <h4 class="tmp-ticket-thread-content">
      {{ticket.subject}}
    </h4>
  </div>
  <!-- <h3 class="ticket-subject"><b></span>
    <h3 class="ticket-date">{{ticket.date| date:'medium' }}></span> -->
</div>